!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1; text/html; charset=UTF-8", :name => "viewport", "http-equiv" => "Content-Type"}/
    %title WeddingApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render :partial => 'layouts/navigation'
    = render :partial => 'layouts/header'
    = yield
